
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Basic Employee PaySlip</h1>
    <p>---------------------------------------------------------</p>

    <h3>Employee Name : {{name}}</h3>
    <h3>Employee ID : {{id}}</h3>
    <h3>PhoneNumber : {{phonenumber}}</h3>
    <h3>Experience : {{experience}}</h3>
    <h3>Annual CTC : {{annualctc}}</h3>
    <h3>Basic Amount(50%) : {{basic}}</h3>
    <h3>HRA Amount(40%) : {{hra}}</h3>
    <h3>LTA Amount(10%) : {{lts}}</h3>
    <h3>PF Amount : {{pf}}</h3>
    <h3>Gratuity :{{gratuity}}</h3>
    <h3>Professional Tax : {{pt}}</h3>
    <h3>Income Tax: {{name}}</h3>
    <h3>Professional Tax : {{it}}</h3>
    <h3>Total Deduction : {{totaldeduction}}</h3>
    <h3>NetPay : {{netpay}}</h3>








</body>
</html>