

<form method = "post" enctype= "multipart/form-data">
    
    <div class="row">
        <label>Select Excel File to Upload : </label>
        <input type ="file" name="file"/>

    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-3">
            <input type="submit" asp-controller="Employee" asp-action="ExcelFileReader" class="btn btn-dark" value="Read Excel File" />

        </div>

    </div>

    <h2 class="text-danger">
        @ViewBag.File
    </h2>
</form>